<section class="gh-view">
    <header class="view-header">
        {{#gh-view-title openMobileMenu="openMobileMenu"}}<span>实验室</span>{{/gh-view-title}}
    </header>

    <section class="view-content settings-debug">
        <p><strong>重要提示：</strong>这里列出的功能均为实验性的，随着版本更新，这些功能特性可能会有所调整，请慎重使用。</p>
        <form id="settings-export">
            <fieldset>
                <div class="form-group">
                    <label>数据导出</label>
                    <button type="button" class="btn btn-blue" {{action "exportData"}}>导出</button>
                    <p>导出博客配置和博文数据</p>
                </div>
            </fieldset>
        </form>
        <form id="settings-import" enctype="multipart/form-data">
            <fieldset>
                <div class="form-group">
                    <label>数据导入</label>
                    {{partial "import-errors"}}
                    {{gh-file-upload id="importfile" classNames="flex" uploadButtonText=uploadButtonText onUpload="onUpload"}}
                <p>导入博客配置和博文数据。注意：如数据中包含用户信息，当前用户可能会被覆盖而无法登录。</p>
                </div>
            </fieldset>
        </form>
        <form id="settings-resetdb">
            <fieldset>
                <div class="form-group">
                    <label>删除所有内容</label>
                    <button type="button" class="btn btn-red js-delete" {{action "openModal" "deleteAll"}}>删除</button>
                    <p>从数据库删除所有博文和标签。</p>
                </div>
            </fieldset>
        </form>
        <form id="settings-testmail">
            <fieldset>
                <div class="form-group">
                    <label>发送测试邮件</label>
                    {{#gh-spin-button id="sendtestemail" class="btn btn-blue" action="sendTestEmail" submitting=submitting}}发送{{/gh-spin-button}}
                    <p>发送一封测试邮件到您的邮箱。</p>
                </div>
            </fieldset>
        </form>
        <hr>
        <form>
            <fieldset>
                <div class="form-group for-checkbox">
                    <h3>启用测试功能</h3>
                    {{#gh-feature-flag "publicAPI"}}
                        Public API - 详细说明请访问 <a href="http://support.ghost.org/public-api-beta/">开发者指南</a>.
                    {{/gh-feature-flag}}
                </div>
            </fieldset>
        </form>
    </section>
</section>

{{#if showDeleteAllModal}}
    {{gh-fullscreen-modal "delete-all"
                          close=(action "toggleDeleteAllModal")
                          modifier="action wide"}}
{{/if}}
